<div class="jumbotron">
  <h1 class="">Help Queue</h1>
  {{#link-to 'index'}}Student Home{{/link-to}} | {{#link-to 'admin'}}Teacher Home{{/link-to}}
</div>
<div class="container">

  {{outlet}}
</div>
